.Recommend{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    margin: 0;
    padding: 0;
    border: 0;
    flex-grow: 0;
    width:50vw;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    flex-wrap: wrap;
    background-color: #111322;
    scrollbar-color: #A0A0A7 rgb(17, 19, 34);
}