.Widget{
    margin-left: 20px;
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    align-items: center;
}

.GameImg:hover + .GameName{
    opacity: 1;
    transform: translateY(-5);
}

.GameImg:hover ~ .Rating {
    opacity: 1;
    transform: translateY(-5);
}

.GameImg:hover{
    transform: scale(1.1, 1.1);


}

.GameImg:hover + .GameName,
.GameImg:hover + .Rating {
  opacity: 1;
  visibility: visible;
}