/* Container for the images */
#library {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(auto-fit, 135px);
    gap: 10px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 4vw; 
    flex: 7.5;
    overflow: auto;
    border-radius: 8px;
  
  /* Images inside the grid */
  img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 4;
    object-fit: cover; 
    border-radius: 5px;
    transition: scale 0.3s;
  }
  img:hover {
    cursor: pointer;
    scale: 1.5;
    box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
}