:root {
    --background-color: #001F3F;
    --box-color: #002b5c;
    --text-color: #F6F6F6;
    --primary-color: #007BFF;
    --secondary-color: #00a2ff;
    --error-color: #e74c3c;
    --input-border-color: #3a3a5a;
}

button {
    transition: 0.3s
}

button:hover {
    cursor: pointer;
    transform: translateY(-4px);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#App {
    display: flex;
    flex-direction: row;
    gap: 0px;
    height: 100vh;

    @media (max-width: 876px) {
        flex-direction: column;

    }
}

#backend-status {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 7px;

    label {
        font-size: 12px;
    }

    top: 10px;
    left: 10px;
    z-index: 100;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.4);
    transition: 0.3s;

    a {
        color: white;
    }
}

#backend-status.ok {
    display: none;
}

#backend-status.not-ok {
    background-color: rgb(209, 74, 74);
}

#backend-status:hover {
    transform: translateY(-2px);
}

#side-bar {
    display: flex;
    flex-direction: column;
    background-color: var(--box-color);
    max-width: 90px;
    flex: 1;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.7);

    button {
        border: none;
        color: var(--text-color);
        font-size: 12px;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.0);

        img {
            width: 60px;
            height: 60px;
        }

    }

    @media (max-width: 876px) {
        max-width: none;
        width: 100vw;
        flex-direction: row;

        img {
            width: 48px;
            height: 48px;
        }

    }
}

#library-chat-container {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    padding: 1%;
    box-sizing: border-box;
    gap: 2vw;
    flex: 11;
    background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%, rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%), linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%, rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%), linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%, rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%), linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%, rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%), linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%, rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%), linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%, rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%), linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%, rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%), linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%, rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%), linear-gradient(90deg, rgb(10, 17, 72), rgb(35, 148, 228));
}

@media (max-width: 876px) {
    #library-chat-container {
        flex-direction: column;
        overflow: auto;
        padding: 2vw;
    }

    #side-bar {
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
    }

}