#info-box-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    backdrop-filter: blur(2px);
}

#info-box {
    background: var(--background-color);
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

#title {
    flex-grow: 1;
    font-size: 20px;
    font-weight: bold;
}

#close-button {
    background: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2s;
}

#close-button:hover {
    background-color: var(--error-color);
}

#content {
    display: flex;
    gap: 15px;
}

#image-container {
    width: 18vw;
    height: 24vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}

#image-container img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 5px;

}

#description-info-container {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    flex-grow: 1;
    font-size: 14px;
    color: #333;
}

#description-info-container textarea {
    width: clamp(200px, 26vw, 500px);
    font-size: clamp(8px, 1.3vw, 17px);
    height: 40%;
    resize: none;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--box-color);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 3%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#description-info-container textarea:focus {
    outline: none;
}

#other-info {
    width: clamp(200px, 26vw, 500px);
    display: flex;
    gap: 10px;
    height: 60%;
    background-color: var(--box-color);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 3%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);


}

#other-info text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#other-info text:hover {
    overflow: visible;
    white-space: normal;
    text-overflow: unset;
}

#game-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-size: clamp(8px, 1.1vw, 13px);
}

#user-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

#user-info label {
    font-size: 0.8em;
    color: var(--text-color);
}

#user-info select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--primary-color);
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    color: var(--text-color);
    transition: 0.3s;
}

#user-info select:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    transform: translateY(-2px);
}

#user-info button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    height: 33%;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 15px;
}

#remove-button:hover,
#reject-button:hover {
    background-color: var(--error-color);
}

#add-button:hover {
    background-color: rgb(130, 207, 126);
}

#blacklist-button:hover {
    background-color: black;
}

@media (max-width: 876px) {
    #description-info-container {
        gap: 1vh
    }

    #user-info {
        justify-content: start;
    }

    #user-info button {
        font-size: 8px;
        height: auto;
    }

    #user-info label {

        font-size: 6px;

    }

    #user-info select {

        font-size: 8px;
    }
}